---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Proyectos from '../components/Proyectos.astro';
import Footer from '../components/Footer.astro';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Portfolio - Oriana Cappelli</title>
    <link rel="icon" type="image/png" href="/logo-mio.png" />
  </head>
  <body class="bg-[#f4ebf2] font-sans">
    <Navbar />
    <Hero />
	<Proyectos />
	<Footer />
  </body>
</html>