---
// src/components/Navbar.astro
---

<nav class="flex h-14 bg-white border-b-[3px] border-black text-black font-extrabold uppercase text-sm tracking-wide">
  <!-- logo y nombre -->
  <div class="flex-1 flex items-center px-6">
    <a href="/" class="hover:opacity-70 transition-opacity">
      PORTFOLIO.CAPPELLI
    </a>
  </div>

  <!-- links -->
  <div class="hidden md:flex">
   <a href="/sobre-mi" class="flex items-center px-8 border-l-[3px] border-black hover:bg-[#f4ebf2] transition-colors">Sobre mi</a>
    <a href="/proyectos" class="flex items-center px-8 border-l-[3px] border-black hover:bg-[#f4ebf2] transition-colors">Proyectos</a>
    <a href="/contacto" class="flex items-center px-8 border-l-[3px] border-black hover:bg-[#f4ebf2] transition-colors">Contacto</a>
  </div>
</nav>